*.o
*.lo
*.la
*.so
*.gmo

Makefile
Makefile.in
m4/
.deps
.libs

INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
configure.ac
depcomp
engines/mice/generate
engines/mice/preview.h
engines/mice/slide.h
engines/simple/fallback.h
engines/simple/preview.h
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
libxfsm/xfce4-session-2.0.pc
ltmain.sh
missing
mkinstalldirs
panel-plugin/xfsm-logout-plugin-ui.h
panel-plugin/xfsm-logout-plugin.desktop
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
scripts/startxfce4
scripts/xinitrc
scripts/xinitrc.in
scripts/xscreensaver.desktop
settings/stamp-xfce4-session-marshal.h
settings/xfce-session-settings.desktop
settings/xfce4-session-marshal.c
settings/xfce4-session-marshal.h
settings/xfce4-session-settings
settings/xfce4-session-settings_ui.h
settings/xfsm-client-dbus-client.h
settings/xfsm-manager-dbus-client.h
settings/xfsm-client-dbus-client.c
settings/xfsm-manager-dbus-client.c
settings/xfce4-session-settings.ui~
stamp-h1
xfce.desktop
xfce4-session-logout/xfce4-session-logout
xfce4-session-logout/xfce4-session-logout.desktop
xfce4-session/chooser-icon.h
xfce4-session/stamp-xfsm-marshal.h
xfce4-session/xfce4-session
xfce4-session/xfsm-manager-dbus.h
xfce4-session/xfsm-manager-dbus.c
xfce4-session/xfsm-marshal.c
xfce4-session/xfsm-marshal.h
xfsm-shutdown-helper/xfsm-shutdown-helper
ChangeLog
xfce4-session.spec
xfce4-session/org.xfce.session.policy
xfce4-session/xfsm-chooser-icon.h
xfce4-session/xfsm-client-dbus.h
xfce4-session/xfsm-client-dbus.c
