[General]
SessionName=Default
DisableTcp=True

[Failsafe Session]
Count=4
Client0_Command=xfwm4
Client0_PerScreen=False
Client1_Command=xfce4-panel
Client1_PerScreen=True
Client2_Command=xftaskbar4
Client2_PerScreen=True
Client3_Command=xfdesktop
Client3_PerScreen=False

[Splash Screen]
Engine=mice

[Chooser]
# This is currently a hidden setting, dunno if its worth to have it in
# the gui. if true, the chooser is displayed on each login. Don't count
# on this setting to be present in future versions, it may be removed w/o
# any notice.
AlwaysDisplay=true
