# $Id$

[General]
SessionName=Default
SessionName[de]=Standard
DisableTcp=True

[Failsafe Session]
Count=4
Client0_Command=xfwm4
Client0_PerScreen=False
Client1_Command=xfce4-panel
Client1_PerScreen=True
Client2_Command=xftaskbar4
Client2_PerScreen=True
Client3_Command=xfdesktop
Client3_PerScreen=False

[Splash Screen]
Engine=mice
