[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Session Settings
Comment=Session Settings
Exec=xfce-setting-show session
Icon=xfce4-session
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
