[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Splash Screen
Name[de]=Xfce 4 Startbildschirm
Name[fr]=Écran de démarrage de Xfce 4
Comment=Splash Screen Settings
Comment[de]=Startbildschirm Einstellungen
Comment[fr]=Paramétrage de l'écran de démarrage
Exec=xfce-setting-show splash
Icon=xfce4-splash
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
