[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Splash Screen Settings
Name[de]=Xfce 4 Startbildschirm
Name[fr]=Écran de démarrage de Xfce 4
Name[nl]=Instellingen Xfce 4 Beginscherm
Name[zh_TW]=Xfce 4 啟動畫面設定
Comment=Splash Screen Settings
Comment[de]=Startbildschirm Einstellungen
Comment[fr]=Paramétrage de l'écran de démarrage
Comments[nl]=Instellingen voor beginscherm
Comments[zh_TW]=設定啟動畫面
Exec=xfce-setting-show splash
Icon=xfce4-splash
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Splash Screen Settings
GenericName[nl]=Instellingen Beginscherm
