[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Splash Screen
Comment=Splash Screen Settings
Exec=xfce-setting-show splash
Icon=xfce4-splash
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
